<p><%= @current_user.name %></p>
<%= form_tag("/map/new") do %>
  <% @maps.each do |map| %>
    <% sta=Station.find_by(sta_id: map.s_dis) %>
    <p><%= "#{sta.name}" %></p>
    <p>
      <input name="<%="#{map.s_dis}"%>" type="hidden" value="0" />
      <input id="toggle" class="toggle_input" type="checkbox" name=<%="#{map.s_dis}"%>
      <% if map.status=="walked"%>
      <%= "checked" %>
      <%end%> />
      <%# <%= "駅間#{map.s_dis} : #{map.status}" %>
    </p>
    <% if map.s_dis == @maps.length %>
      <% sta_last=Station.find_by(sta_id: map.s_dis+1) %>
      <p><%= "#{sta_last.name}" %></p>
    <% end %>
  <% end %>
  <input class="form-btn" type="submit" value="変更!">
<% end %>
<%= form_tag("/logout") do %>
  <input class="form-btn" type="submit" value="ログアウト">
<% end %>
